<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <div class="jumbotron">
        <div class="container">
            <h1>The app is ON :=)</h1>
            <br><br>
            <br>
            <h2>The current functionalities <span class="badge badge-light">(All transactions are in JSON)</span> :</h2>
            <br>
            <br>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="Auth">
                        <h2 data-toggle="collapse" data-target="#authCol" aria-expanded="true" aria-controls="authCol">
                                Authentification 
                        </h2>
                    </div>
                    <div class="collapse show" id="authCol" aria-labelledby="Auth" data-parent="#accordion" >
                        <div class="card-body">
                            <p class="card-text">
                                <ul>
                                    <li>
                                        To login send a POST request to <div class="btn btn-outline-primary">/Auth/login</div>
                                        <p>Data to send : </p>
                                        <pre>
                        {
                            "email": "nidal@gmail.com",
                            "passWord": "nidal321"
                        }
                                        </pre>
                                        <p>Return a Bearer Token</p>
                                    </li>
                                </ul>
                            </p>
                        </div>
                        
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header" id="Usr">
                        <h2 data-toggle="collapse" data-target="#usrCol"  aria-controls="usrCol">Users :</h2>
                    </div>
                    <div id="usrCol" class="collapse show" aria-labelledby="Usr" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    User Data format :
                                    <pre>
                    {
                        "firstName":"Jhon",
                        "lastName":"Parker",
                        "email":"Hunter_Bauch40@gmail.com",
                        "phoneNumber":"0762612642",
                        "passWord":"123456",
                        "role":null,
                        "forfaitId":null
                    }
                                    </pre>
                                </li>
                                <li>
                                    You can fetch Users with GET request to <div class="btn btn-primary btn-sm">/users/all</div> or one user to <div class="btn btn-primary btn-sm">/users/'id'</div>
                                </li>
                                <br>
                                <li>
                                    For creating a User send a User in POST request to <div class="btn btn-success btn-sm">/users/add</div>
                                </li>
                                <br>
                                <li>
                                    To Update a User send a User in POST request to <div class="btn btn-warning btn-sm">/users/edit</div> ( You can send only the new attributes )
                                </li>
                                <br>
                                <li>
                                    For Delete send a GET request to <div class="btn btn-danger btn-sm">/users/remove/'id'</div> ( the id shold be in the link )
                                </li>
                                <br>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="card">
                    <div class="card-header" id="Msg">
                        <h2 data-toggle="collapse" data-target="#msgCol"  aria-controls="msgCol">Messages :</h2>
                    </div>
                    <div id="msgCol" class="collapse show" aria-labelledby="Msg" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    Messages Data format :
                                    <pre>
                    {
                        "Object": "Obj",
                        "Content": "Message Content",
                    }
                                    </pre>
                                </li>
                                <li>
                                    You can fetch Messages with GET request to <div class="btn btn-primary btn-sm">/Msg/all</div> or one Msg to <div class="btn btn-primary btn-sm">/Msg/'id'</div>
                                </li>
                                <br>
                                <li>
                                    For adding a Message send a Msg in POST request to <div class="btn btn-success btn-sm">/Msg/add</div>
                                </li>
                                <br>
                                <li>
                                    For Deleting send a GET request to <div class="btn btn-danger btn-sm">/Msg/del/'id'</div> ( the id shold be in the link )
                                </li>
                                <br>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="card">
                    <div class="card-header" id="Prox">
                        <h2 data-toggle="collapse" data-target="#ProxCol"  aria-controls="ProxCol">Proxy :</h2>
                    </div>
                    <div id="ProxCol" class="collapse show" aria-labelledby="Prox" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    Proxy Data format :
                                    <pre>
                {
                    url: 'http://lum-customer-{lumUser}-zone-{lumZone}:{password}@zproxy.lum-superproxy.io:{lumPort}'
                }
                                    </pre>
                                </li>
                                <li>
                                    You can fetch Proxy with GET request to <div class="btn btn-primary btn-sm">/proxy/get</div>
                                </li>
                                <br>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="card">
                    <div class="card-header" id="Dwn">
                        <h2 data-toggle="collapse" data-target="#DwnCol"  aria-controls="DwnCol">How to Download :</h2>
                    </div>
                    <div id="DwnCol" class="collapse show" aria-labelledby="Dwn" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    You can fetch All versions of the app by sending a Get request to <div class="btn btn-primary btn-sm">/Dwn/get</div>
                                </li>
                                <br>
                                <li>
                                    Once you chosen your version send a GET request to<div class="btn btn-success btn-sm">/Dwn/getLink/'name'</div> to receive a download link
                                </li>
                                <br>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>

            </div>
            <br>
            
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>